---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Playground">
  <section>
    <h1>Astro Playground</h1>
    <p>Static multi-page site built with Astro.</p>
  </section>
</Layout>
